<a href="{{ product.url }}" class="product-card">
  <div class="product-card__media">
    {%- if product.featured_image -%}
      {{ product.featured_image | image_url: width: 600 | image_tag: loading: 'lazy', widths: '300,600,900', sizes: '(min-width: 800px) 25vw, 50vw', alt: product.featured_image.alt | default: product.title, class: 'product-card__image' }}
      {%- if product.images.size > 1 -%}
        {{ product.images[1] | image_url: width: 600 | image_tag: loading: 'lazy', class: 'product-card__image product-card__image--hover', alt: product.title }}
      {%- endif -%}
    {%- else -%}
      {{ 'product-1' | placeholder_svg_tag: 'product-card__image' }}
    {%- endif -%}

    {%- if product.compare_at_price > product.price -%}
      <span class="product-card__badge">{{ 'products.product.sale' | t }}</span>
    {%- elsif product.available == false -%}
      <span class="product-card__badge product-card__badge--muted">{{ 'products.product.sold_out' | t }}</span>
    {%- endif -%}
  </div>
  <div class="product-card__body">
    {%- if product.vendor != blank -%}
      <p class="product-card__vendor">{{ product.vendor }}</p>
    {%- endif -%}
    <h3 class="product-card__title">{{ product.title }}</h3>
    <p class="product-card__price">{% render 'price', product: product %}</p>
  </div>
</a>
